<style >
  body{
    margin-top: 25px;
    background-image: url("/resources/welcome.jpeg");
    background-repeat: no-repeat;
    background-size: 1500px 700px;
    text-decoration: beige;
  }
</style>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <style>
        .m-auto{
          background-color: cornflowerblue;
        }
      </style>
      <div class="card card-body text-center">
        <img src="/resources/chat_logo_whit_bg.jpg" alt="Logo" height="200px" width="200px">
        <br><br>
        <h3>IIT Roorkee Discussion Forum</h3> 
        <br/><br/>
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Register</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>